#Content {
  width: 970px;
}
#MainTopic .CTitle {
  background-color: #30418c;
  border-width: 0 0 0 0;
}
.CTopic h2.CTitle {
  background-color: #30418c;
  border-width: 0 0 0 0;
}
.SEntry a {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}
.SDescription {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  color: #333;
}
.SBorder {
  border-radius: 3px;
}
.CClass .Prototype {
  border-width: 1px 1px 1px 1px;
}
.CGroup .CTitle {
  border-color: #30418c;
}
.CTitle {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  color: #30418c;
}
.CHeading {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  color: #333;
}
.CDLEntry {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  color: #356de4;
}
.CDLDescription {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  color: #333;
}
.CBody pre {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  background: #c0c0c0;
  color: #fff;
  border-style: none;
  border-radius: 3px;
}
ul.tree,
.tree ul {
  margin: 0 0 0 1em;
  padding: 0;
  list-style: none;
  position: relative;
}
.tree ul {
  margin-left: 0.5em;
}
.tree::before,
.tree ul::before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 1px solid;
}
.tree li {
  margin: 0;
  padding: 0 1.5em;
  line-height: 1.4em;
  font-weight: bold;
  position: relative;
}
.tree li::before {
  content: "";
  display: block;
  width: 10px;
  height: 0;
  border-top: 1px solid;
  margin-top: -1px;
  position: absolute;
  top: 0.7em;
  left: 0;
}
.tree li:last-child::before {
  background: #fff;
  height: auto;
  top: 0.7em;
  bottom: 0;
}
table.Prototype {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  border-radius: 3px;
}
a:link {
  color: #356de4;
}
a:visited {
  color: #30418c;
}
p {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  color: #333;
  text-indent: 0;
  margin-bottom: 1em;
}
b {
  font-weight: normal;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  color: #356de4;
}
span.optional {
  background-color: #7f7f7f;
  background-clip: border-box;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  border-radius: 3px;
  color: #fff;
  font-size: xx-small;
}
span.static {
  background-color: #5cb85c;
  background-clip: border-box;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  border-radius: 3px;
  color: #fff;
  font-size: xx-small;
}
span.parameterized {
  background-color: #8c4130;
  background-clip: border-box;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  border-radius: 3px;
  color: #fff;
  font-size: xx-small;
}
span.virtual {
  background-color: #428bca;
  background-clip: border-box;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  border-radius: 3px;
  color: #fff;
  font-size: xx-small;
}
span.pure {
  background-color: #d9534f;
  background-clip: border-box;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  border-radius: 3px;
  color: #fff;
  font-size: xx-small;
}
span.protected {
  background-color: #f0ad4e;
  background-clip: border-box;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  border-radius: 3px;
  color: #fff;
  font-size: xx-small;
}
span.singleton {
  background-color: #5bc0de;
  background-clip: border-box;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  border-radius: 3px;
  color: #fff;
  font-size: xx-small;
}
span.rand {
  background-color: #8c4130;
  background-clip: border-box;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  border-radius: 3px;
  color: #fff;
  font-size: xx-small;
}
span.under-construction {
  background-image: url("http://ajax.cluelogic.com/libs/images/fugue-icons/icons/construction.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
}
span.new {
  background-image: url("http://ajax.cluelogic.com/libs/images/fugue-icons/icons/new-text.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
}

